* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

h1 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 20px;
  word-spacing: 4px;
  font-size: 240%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./background.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.gryffin-text-box {
  position: fixed;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-57%, -53%);
}
