.descriptions {
  display: flex;
  justify-content: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 110%;
  margin-bottom: 15px;
  padding-top: 50px;
  color: #fff;
}

.dj-container {
  padding-top: 5%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./img/background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.dj-showcase {
  list-style: none;
  width: 100%;
  padding: 50px 50px;
}

.dj-showcase li {
  display: block;
  float: left;
  width: 25%;
  padding: 5px 5px;
}

.dj-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
  position: relative;
}

.dj-photo img {
  opacity: 0.5;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}
