.about-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../Artist/img/background.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  background-attachment: fixed;
}

.about-comment {
  padding-top: 5%;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
  color: #fff;
}

.bubble-picture {
  font-size: 90%;
  margin-top: 25px;
  display: block;
  color: #fff;
}

blockquote:before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  color: #fff;
}

cite img {
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.about-top {
  padding-top: 7%;
}

.row h2:after {
  display: block;
  height: 2px;
  background-color: #1db954;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.step-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

.step-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}

.app-screen {
  width: 60%;
}

.works-step {
  margin-bottom: 50px;
  color: #fff;
}

.works-step div {
  color: #1db954;
  border: 2px solid #1db954;
  display: inline-block;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}

.btn-size {
  width: 200px;
  height: auto;
}
